@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap");

:root {
  --bg-color: rgb(255, 202, 67);
  --primary: #0074d9; 
  --danger: #ff4136;
  --warning: #f0ad4e;
  --success: #5cb85c;
  --dark: #292b2c;
}

body {
  font-family: "Vujahday Script", cursive;
  background: #fffc00;
  background: -webkit-linear-gradient(to right, #ffffff, #fffc00);
  background: linear-gradient(to left, #ffffff 20%, rgb(255, 202, 67));
  background-attachment: fixed;
  overflow-x: hidden;
  width: 100%;
  margin-right: 0 !important;
}